.dropfileinput {
    position: relative;
    /* width: 400px; */
    height: 200px;
    border: 2px dashed #4267b2;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5f8ff;
}

.dropfileinput input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropfileinput:hover,
.dropfileinput.dragover {
    opacity: 0.6;
}

.dropfileinput__label {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ccc;
    font-weight: 600;
    padding: 10px;
}

.dropfileinput__label img {
    width: 100px;
}

.dropfilepreview {
    margin-top: 30px;
}

.dropfilepreview p {
    font-weight: 500;
}

.dropfilepreview__title {
    margin-bottom: 20px;
}

.dropfilepreview__item {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    background-color: #f5f8ff;
    padding: 15px;
    border-radius: 20px;
}

.dropfilepreview__item img {
    width: 50px;
    margin-right: 20px;
}

.dropfilepreview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropfilepreview__item__del {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropfilepreview__item:hover .dropfilepreview__item__del {
    opacity: 1;
}
